<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

rsocialize_div_tag("", {:div_template=>"example1"})

rsocialize_js_tag({:js_template=>"example1"})

<%= link_to 'New User', new_user_path %>
